fastapi
uvicorn[standard]
python-multipart
langchain
langchain-google-genai
faiss-cpu
pdfplumber
pytesseract
Pillow
pydantic
python-dotenv
langchain-community
pydantic-settings
pypdf
streamlit-lottie
streamlit
requests
pandas 